<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input
                    #input
                    (keyup)="buscarUsuario(input.value)"
                    type="text"
                    class="form-control"
                    placeholder="Buscar usuario..."
                />
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="isLoading">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br />
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br />
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!isLoading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">
                    Usuarios registrados ( <small>{{ totalRegistros }}</small> )
                </h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Fecha Ingreso</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let usuario of usuarios">
                            <td>{{ usuario.username }}</td>
                            <td>{{ usuario.name }}</td>
                            <td>{{ usuario.email }}</td>
                            <td>
                                {{ usuario.created_at }}
                            </td>
                            <td>
                                <button
                                    (click)="guardarUsuario(usuario)"
                                    class="btn btn-primary"
                                >
                                    <i class="fa fa-save"></i>
                                </button>

                                <button
                                    (click)="borrarUsuario(usuario)"
                                    class="btn btn-danger"
                                >
                                    <i class="fa fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <button
                                (click)="cambiarDesde(-5)"
                                class="page-link"
                            >
                                Anteriores
                            </button>
                        </li>
                        <li class="page-item">
                            <button (click)="cambiarDesde(5)" class="page-link">
                                Siguientes
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
